<p id="notice"><%= notice %></p>

<p>
  <strong>Firstname:</strong>
  <%= @patient.firstname %>
</p>

<p>
  <strong>Lastname:</strong>
  <%= @patient.lastname %>
</p>

<p>
  <strong>Dateofbirth:</strong>
  <%= @patient.dateofbirth %>
</p>

<p>
  <strong>Address:</strong>
  <%= @patient.address %>
</p>

<p>
  <strong>Phonenumber:</strong>
  <%= @patient.phonenumber %>
</p>

<p>
  <strong>Infection:</strong>
  <%= @patient.infection %>
</p>

<p>
  <strong>Injury:</strong>
  <%= @patient.injury %>
</p>
<p>
  <strong>Status:</strong>
  <%= @patient.status %>
</p>

Doctor <br>
<%= @input1 %> is <%= @result %>
<hr>
<h1>Doctor Availability</h1>
<%= form_tag "/validate" do %>
<%= text_field_tag :search_string %>
<%= submit_tag "Search" %>
<% end %>

<%= link_to 'Edit', edit_patient_path(@patient) %> |
<%= link_to 'Back', patients_path %>
